
@{
    ViewBag.Title = "YeniKulup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>
    <label>Kulup Adı</label>
        <input type="text"  class="form-control" name="KULUPAD"/>
    </div>
    <div style="margin-top:auto">
        <button class="btn btn-primary">Kuküp Ekle</button>
    </div>
</form>

